
@font-face {
    font-family: "Gund Gallery";
    src: url('Gund-sans/GundSans-Regular.otf') format("opentype");
}
  
@font-face {
    font-family: "Gund Gallery";
    font-weight: bold;
    src: url("Gund-sans/GundSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gund Gallery";
    font-style: italic;
    src: url(Gund-sans/GundSans-RegularItalic.otf) format("opentype");
}

*{
    box-sizing: border-box;
    font-family: 'Gund Gallery';
}

img {
    /* object-fit: fill; */
    /* max-height:100%; */
    height:auto;
    max-width:100%;
}

.word-box {
    width: 50vh;
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    margin: auto;
    padding: 10px 0px 10px 10px;
    line-height: 1.5;
    opacity: 95%;
}

.submit-btn {
  background: #606c38;
  border: #606c38;
  color: #fff;
  margin-top: 25px;
  font-size: 20px;
}

.submit-btn:hover{
  background:#283618;
}

.select{
  transform: translate(-45%);
  display:inside;
}

.link {
  background:#606c38;
  border: #606c38;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  margin-top: 0px;
  font-size: 20px;
  cursor:pointer;
}

a {
  text-decoration: none;
  display: inline-flex;
  padding: 5px 16px;
  }
  
  a:hover {
    background-color: #283618;
    color:#fff;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: #283618;
    position: absolute;
    bottom: 10px;
    left: 100px;
    border-radius: 10px;
    opacity: 75%;
  }
  
  .next {
    background-color: #606c38;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 100px;
    border-radius: 10px;
    opacity: 75%;
  }