header {
  background-color: #5e5d5d;
  padding: 10px;
  text-align: center;
  font-family:"Gund Gallery";
  font-weight: bold;
  font-size: 25px;
  color: white;
}
body{
  background:#141414;
  overflow:hidden;
}
